@font-face{
    font-family: BimboRegular ;
    src: url(./assets/bimbo-font/bimbo.regular.ttf);
}
@font-face{
    font-family: BimboFingertip;
    src:url(./assets/bimbo-font/bimbo.finetip.ttf);
}
@font-face{
    font-family: BimboSharpie;
    src: url(./assets/bimbo-font/bimbo.sharpie.ttf);
}

body{
    background-color: #EFF3F8;
}

#home-section{
    background: #00c6ff;  
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);/* border-radius: 0px 0px 200px 200px; */
    margin-top: -11rem;
    padding-top: 15rem;
    font-size: 2rem;
    padding-bottom: 8rem;
    text-align: center;
    /* background: var(--background-color); */
}
.homesection-ext{
    background: #00c6ff;  
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
}
#feature-section{
    margin-top: 5rem;
    background-color: #EFF3F8;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 10rem;
    text-align: center;
}

#navbar {
    transition: top 0.8s;
    background-color: #1c1c1c !important;
}

.bg-light{
    background-color: rgba(0, 0, 0, 0.733)!important;
}

.navbar-dashboard{
    background-color: rgb(0, 0, 0)!important;
}

.align{
    text-align: center;
    align-items: center;
}

.main-logo{
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-size: 4.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: left;
}

.button-home-screen{
    margin-top: 3rem;
    text-align: center;
    font-family: Roboto;
    color: white;
}

.section1{
    padding-top: 4rem;
    
}

.photo-ill{
    animation: pulse 3s infinite linear;
}

@keyframes pulse{

    0%, 100% {
        transform: translate(0, 0);
      }
      
      50% {
        transform: translate(20px, 0);
      }
      
      80% {
        transform: translate(-20px, 0);
      }
    
}
.card-title-custom{
    font-family: MetropolisRegular;
    font-weight: bold;
    font-size: 2.4rem;
}

.card-text{
    font-family: Metropolis;
    font-size: 1.5rem;
}

.card{
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    border: none;
    
}
.card:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

.card-signup-sign, .card-signup{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    max-width: 70%;
    padding: 0%;
    margin-top: 10em;
    margin-bottom: 10em;
    height: 450px;
    background-color: #1c1c1c;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.card-profile{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/* .row, .container{
    height: 450px;
} */

.cb-signup{
    padding: 0%;
}

.card-img-top{
    background-color: #0751C2;
}

.table-align{
    /* padding-left: 60px;
    padding-right: 60px; */
    max-width: 70%;
    text-align: center;
}

.feature-heading{
    font-family: Metropolis;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #1c1c1c;
    margin-bottom: 2rem;
}

.home-text{
    /* font-family: Metropolis;
    font-weight: 600 !important; */
    margin-top: 5rem;
    font-size: 30px;
    text-align: left;
    margin-bottom: 1rem;
}

.button-home{
    border-radius: .2rem;
    background-color: transparent;
    color: #1c1c1c;
    border:2px solid #1c1c1c;
    font-family: MetropolisRegular;
}

.button-home:hover{
    background-color: #1c1c1c;
    color: #EFF3F8;
    border: 1px solid #1c1c1c;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(/assets/bars-solid\ 1.png) !important;
}

.signup-content{
    margin-top: 2rem;
    font-family: 'Lato';
    color: #EFF3F8;
}

.login-content{
    margin-top: 5rem;
    font-family: 'Lato';
    color: #EFF3F8;
    
}

.form-content{
    font-family: 'Lato';
    color: #EFF3F8;
    padding-left: 2.9rem;
    text-align: left;
}

.profile-content{
    font-family: 'Lato';
    font-size: 1.3rem;
    color: #EFF3F8;
    padding-top: 4rem;
    padding-left: 2.9rem;
    text-align: left;
}

.button-form{
    border-radius: 1.5rem;
    background-color: #d99058;
    background-image: linear-gradient(315deg, #d99058 0%, #f8de7e 74%);
    color: #1c1c1c;
    border:1px solid #1c1c1c;
}

.button-form:hover{
    border: 1px solid #d99058;
    color: #1c1c1c;
}

.custom-fu-form{
    background-color: #E94057;
    border:3px solid #E94057;
    color: #EFF3F8;
    padding: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.graph{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#footer-section{
    margin-top: -2rem;
    /* background-color: greenyellow; */
}
.footer-dashboard{
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.person-ph{
    height: 448px;
}

.text-dash{
    margin-top: 3rem;
    margin-bottom: -1rem;
}

.tree-photo{
    height: 448px;
}

.usage-text{
    margin-bottom: auto;
}
.githubIcon{
    color: black;
}
.githubIcon:hover{
    color: #242A2E;
}
.linkedinIcon{
    color: black;
}
.linkedinIcon:hover{
    color: #0077B5;
}
.instaIcon{
    color: black;
}
.instaIcon:hover{
    color: #C82E8E;
}
.twitterIcon{
    color: black;
}
.twitterIcon:hover{
    color: #00aced;
}
.btn-space{
    margin-top: 3.5rem !important;
}
.btn-block{
    height: 5rem;
    font-size: 1.4rem;
}
.dashboard-footer{
    position: fixed;
    bottom: 0%;
    max-width: 100%;
}
.upload-align{
    margin: auto;
    height: 7rem;
    max-width: 50%;
}
@media only screen and (max-width: 600px) {
    html, body {
        overflow-x: hidden;
        }

    #home-section{
        padding-bottom: 1rem;
    }
    .homesection-ext{
        border: none;
    }

    .photo-ill{
        height: 350px;
        max-width: 80%;
    }

    .main-logo{
        margin-left: -0.5rem;
        margin-right: 0.5rem;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: -1rem; 
    }

    .opening-text{
        font-weight: 600 !important;
        font-size: 1.4rem !important;
        font-family: MetropolisRegular;
        color: white;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }

    .some-edit{
        margin-left: -4rem;
    }

    .some-edit1{
        margin-left: -3.2rem;
    }

    .some-edit2{
        margin-left: -3.3rem;
    }
    .upload-align{
        margin: none;
        height: max-content;
        max-width: 100%;
    }
    .home-text{
        margin-top: -2.5rem;
    }

    .login-fix{
        border: 0px solid  rgba(0, 0, 0, 0.733)!important;
        color: white !important;
        background-color: transparent !important;
    }

    .feature-heading{
        font-size: 2.7rem;
    }
    #feature-section{
        padding-bottom: 4rem;
    }
    .form-content{
        text-align: center;
        margin-left: 0%;
        padding-left: 0%;
    }

    .tree-photo{
        visibility: hidden;
        padding-top: 0rem;
    }

    .person-ph{
        height: auto;
        margin-top: 1.5rem;
        box-shadow: 0 4px 8px 0 rgba(104, 104, 104, 0.2);
    }

    .profile-content{
        margin-top: -5rem;
    }

    .login-content{
        margin-top: 0rem;
    }
    .card-signup{
        max-width: 90%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .card-signup-sign{
        height: 550px;
        margin-top: 4rem;
        
    }
    .graph{
        max-width: auto !important;
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .table{
        max-width: 70% !important;
    }
    .table td, .table th{
        padding-left: 0.5rem;
    }
    .text-dash{
        margin-top: 1rem;
        margin-bottom: -1.5rem;
    }
    .spacred{
        margin-top: 2rem !important;
    }
    .login-content{
        margin-top: -22rem;
    } 
    .signup-content{
        margin-top: -25rem;
    }
}